:root {
    --main-radius: 5px;
    --main-padding: 5px;
}
*{
  box-sizing: border-box;
  margin: auto;
}
/* width */
::-webkit-scrollbar {
    height: 10px;    
}
/* Track */
::-webkit-scrollbar-track {
    background: #050F42; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #FDCD00; 
}
/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(121, 116, 73); 
}
body { 
    margin: auto;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    background-color: whitesmoke;
}
.container { 
    margin-top: 10px;
    min-height: 1000px;     
    max-width: 1800px;
    display: grid;
    grid-template-rows: 80px 840px 80px;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
      "nav nav nav nav"
      "sidebar main main main"
      "footer footer footer footer";
    grid-gap: 6px;
    text-transform: uppercase;
    font-size: 20px; 
}

/* =========================== */
.nav-content-area {  
    background: #050F42;
    grid-area: nav;
    border-radius: var(--main-radius);
    display: flex;
    justify-content: space-between;    
    max-height:80px; 
    min-height:80px;
}
.link-item-navbar {
  color: #FDCD00;
  border-width: thin;
  border-style: solid;
  border-radius: 10px;
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  width: 260px; 
  height: 50px;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 4px; 
  transition: 0.3s; 
}
.link-item-navbar:hover{  
  color: #32FC4A;
  transform: scale(1.1);
}
.status-pag{
  font-size: 12px;
  color: #ffffff;
  background-color: #32FC4A;
  padding: 3px;
  border-radius: 50%;  
  border: thin solid #32FC4A;
  float: right;
  margin: -10px;
}
.status-pag:hover{
  color: #32FC4A;
  background-color: #ffffff;
}


/* ============================= */
.main-content-area {   
  background: #e0e0e0; 
  grid-area: main; 
  border-radius: var(--main-radius);
  border-color: #c8c8c8;
  border-width: thin;
  border-style: solid;
  height: 100%;
}
.frame-title{
    margin: 0;
    height: 40px; 
    text-align: center;
    font-size: 30px;
    justify-content: center;
    border-radius: var(--main-radius);
    background-color: #0B218F;
    color: #ffffff; 
    font-weight: bold;
    padding: 2px;  
}
.frame-content-informations-employee{ 
    display: flex;
    margin-bottom: 10px;
    margin-left: 5px;
}
.form-camp-photo {
  display: flex;
}
#foto-perfil-hospede{    
  height: 200px;
  border-color: rgb(12, 12, 12);
  border-width: thin;
  border-style: solid;
}
#adicionar, #remover { 
  width: 97px;
  border-radius: 5px;
  font-size: 17px; 
  height: 30px;
  margin-top: 10px;
  border: solid 1px black;
}
#adicionar:hover{
  background-color: green;
  color: white;
}
#remover:hover{
  background-color:red;
  color: white;
}
label{
  text-transform:none;
  margin-left: 15px;
}
.frame-rows-content{
  margin: 0;
  padding: 5px;  
  display: flex;
}
.form-control {
  color: rgb(68, 67, 67);
  border: 1px solid #ccc;  
}
.search-cep{
  display: flex;
}
#submit-button-form{
  margin-left: 30px; 
}
#gravar { 
  margin-left: 5px; 
  font-size: 17px; 
  height: 30px;
  margin-top: 20px;
  border: solid 1px black; 
  border-radius: 5px;
}
#gravar:hover{
  background-color: green;
  color: white;  
} 
.form-search{
  display: flex;
  }
  .form-search button{
  color: rgb(68, 67, 67);
  background-color: #ffffff;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.5ms;
  width: 60px;
  height: 40px;  
  }
  .form-search button:hover{
  background-color: #858585;
  color: #ffffff;
  transform: scale(1.1);
  }

/* ============================= */
.sidebar {
  background: #e0e0e0; 
  height: 100%;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  border-width: thin;
  border-style: solid;
  border-color: #c8c8c8;
  min-width: 300px;
  max-width: 300px ; 
  padding: 8px;
}  
#sidebar-options {
  color: #000;
  text-decoration: none; 
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;    
  width: 260px;
  height: 40px; 
  padding-top: 5px; 
  border-width: thin;
  border-style: solid;
  border-radius: 5px;    
  display: block;
  transition: transform 0.2s;   
}
#sidebar-options:hover {
  transform: scale(1.1);
  color: white;
  border-color: #32FC4A;
  background: #98a0a0;
}
#sidebar-option-requisition {
  background-color: #32FC4A;
  height: 40px;
  width: 260px;
  color: white; 
  border-radius: var(--main-radius);
  padding-top: 5px;
  border-width: thin;
  border-style: solid;  
  border-color: #000;
  text-decoration: none; 
  font-weight: bold;
  text-align: center;
  display: block;
  transition: transform 0.2s; 
  margin-top: 20px; 
}
#sidebar-option-requisition:hover {
  transform: scale(1.1);
  background: #98a0a0;
}
#sidebar-option-exit{
  background-color: rgb(218, 8, 8);
  height: 40px;
  width: 260px;
  color: white; 
  border-radius: var(--main-radius);
  border-width: thin;
  border-style: solid;
  border-color: #000;
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  display: block;
  transition: transform 0.2s; 
  padding-top: 5px;
  margin-top: 20px; 
}
#sidebar-option-exit:hover{
  transform: scale(1.1);
}
.sidebar #help{  
  margin-top: 20px;  
  color: #102ec3;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 260px;
  height: 40px;  
}
.sidebar #help:hover {
color: #98a0a0;
}

/* ============================= */
.footer-main {
  text-transform:none;
  background: #050F42;
  grid-area: footer;
  border-radius: var(--main-radius);
  width: 100%;
  overflow: hidden;
  max-height:80px; 
  min-height:80px;
  text-align: center;
}
footer a, small {
  display: inline-block;
  color: white;
  font-size: 10px;
  margin-top: 30px;
  padding-right: 10px;
}
.footer-main a{  
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
}


@media only screen and (max-width: 1500px) {
  body{
    overflow: scroll;
  }
  .container{    
      min-width: 1500px;
      margin: 6px 0;
      min-height: 100%; 
      display: grid;
      grid-template-rows: 80px 300px 800px  80px;
      grid-template-columns: 1fr;
      grid-template-areas:      
        "nav"
        "sidebar"        
        "main"        
        "footer";
      grid-gap: 6px;
  }
  nav{
    margin-left: -13px;
    min-width: 1500px;
  }
  main{
    margin-left: -13px;
    min-width: 1500px;
  }
  .sidebar{
    margin-left: -13px;
    min-width: 1500px;    
    max-height: 280px;
  }
  .footer-main{
    margin-left: -13px;
    min-width: 1500px;
  }
  .frame-content-informations-guest{
    display: flex;
  }
  .form-camp-photo{
    padding: 0 0 30px 0;
  }
  .form-group-informations{   
    display: inline;
  }
  .frame-rows-content-guest{
    display: flex;
    padding: 0 30px 0 30px;
  }
  .form-camp-photo {
    display: flex;
    margin: 20px 0 -20px 0;
  }
  .sidebar-content{
    min-height: 300px;
    display: flex;      
  }    
  .sidebar-frame-options{
    width: 60%;
  }
  #sidebar-options{
    margin: 10px;
    float: left;
  }
  #sidebar-option-requisition{
    margin: 10px;
    float: left;
  }
  #sidebar-option-exit{
    margin: 10px;
    float: left;
  }
  .sidebar #help{
    margin: 10px;
    float: left;
  }
}

@media only screen and (max-width: 1024px) {
  .container{
    margin-top: 10px;
    width: 1024px;
    min-height: 100%; 
    display: grid;
    grid-template-rows: 80px  300px 800px 80px;
  }
}


@media only screen and (max-width: 991px) {
  .container{    
    margin-top: 10px;
    min-height: 100%; 
    grid-template-rows: 80px 300px 800px 80px;
  }
}
@media only screen and (max-width: 768px) {
  .container{    
    margin-top: 10px;
    min-height: 100%; 
    grid-template-rows: 80px 300px 800px 80px;
  }
}

@media only screen and (max-width: 575px) {
  .container{    
    margin-top: 10px;
    min-height: 100%; 
    grid-template-rows: 80px 300px 800px 80px;
  }
}

@media only screen and (max-width: 425px) {
  .container{
    margin-top: 10px;
    min-height: 100%; 
    grid-template-rows: 80px  300px 800px 80px;
  }
}

@media only screen and (max-width: 375px) {
  .container{
    min-width: 870px;
    margin-top: 10px;
    min-height: 100%; 
    grid-template-rows: 80px 300px 800px  80px;
  }
}

@media only screen and(max-width: 320px) {   
  .container{
    margin-top: 10px;
    min-height: 100%; 
    grid-template-rows: 80px  300px 800px 80px;
  }
}